{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p><i>By {{user.first_name}} {{user.last_name}}</i></p>
<h2>Tags:</h2>
<p>
    {% for tag in tags %}
    <div>
        <b><a href="/tags/{{tag.id}}"> {{tag.name}}</a></b> 
    </div>
    {% endfor %}
</p>

<form action="/users/{{user.id}}" method="get">
    <button type="submit">Cancel</button>
</form>
<form action="/posts/{{post.id}}/edit" method="get">
    <button type="submit">Edit</button>
</form>
<form action="/posts/{{post.id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>
{% endblock %}